<div class="container">

    <div class="row">
      <div class="col-md-6 set-bg">
        Creature name: <%=@creature.name%> <br>
        Creature description: <%=@creature.description%> <br>
        Tags:
          <% @creature.tags.each_with_index do |tags|%>
              <%= link_to tags.name, tag_path(tags.name) %>
          <% end %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-3">
        <%= link_to 'Edit Creature', edit_creature_path(@creature), :class => "btn btn-primary" %>

        <%= link_to 'Delete Creature', @creature, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-danger ".html_safe %>
      </div>
    </div>

    <div class="row set-bg">
      <div class="col-md-9">
        <% @results.each do |photo| %>
          <%= image_tag photo %>
        <% end %>
      </div>

      <div class="col-md-3">
        <% @reddit_posts.each do |post|%>
          <li><%= link_to post['data']['title'], "http://www.reddit.com#{post['data']['permalink']}"%></li>
        <%end %>
      </div>
    </div>

<div>